# Copia este archivo como ".env" y ajusta las IPs a tu red local
# Para encontrar tu IP WiFi: ejecuta "ipconfig" en cmd → busca "Dirección IPv4"

VITE_AUTH_URL=http://192.168.110.131:5007
VITE_INCIDENT_URL=http://192.168.110.131:5008
VITE_NOTIFICATION_URL=http://192.168.110.131:5009
